* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(70, 233, 129);
  background: linear-gradient(
    137deg,
    rgba(70, 233, 129, 1) 0%,
    rgba(20, 160, 243, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
